nav.navbar.navbar-expand-lg.navbar-light.bg-white.py-3
    .container.px-5
        a.navbar-brand(href='index.html')
            span.fw-bolder.text-primary Ali Bińkowska
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0.fw-normal
                li.nav-item
                    a.nav-link(href='index.html' data-i18n='home') Home
                li.nav-item
                    a.nav-link(href='offer.html' data-i18n='offer') Offer
                li.nav-item
                    a.nav-link(href='about.html' data-i18n='about') About me
                li.nav-item
                    a.nav-link(href='contact.html' data-i18n='contact') Contact