// Bootstrap core JS
//script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

// Core theme JS
//script(src='js/scripts.js')

//- Translation System Scripts (Load in specific order!)
// Added by myself
//- Bootstrap
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

//- Your custom scripts
script(src='js/scripts.js')