doctype html
html(lang='pl')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Polityka prywatności')
        meta(name='author', content='Ali Bińkowska')

        title Polityka prywatności - Ali Bińkowska

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            section.py-5
                .container.px-5.my-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Polityka prywatności

                    .row.gx-5.justify-content-center
                        .col-lg-11.col-xl-9.col-xxl-8

                            // I. Postanowienia ogólne
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-5
                                    h2.fw-bolder.mb-4 I. Postanowienia ogólne
                                    ol
                                        li.mb-3 Polityka prywatności określa, jak zbierane, przetwarzane i przechowywane są dane osobowe Użytkowników niezbędne do świadczenia usług drogą elektroniczną za pośrednictwem serwisu internetowego (dalej: Serwis).
                                        li.mb-3 Serwis zbiera wyłącznie dane osobowe niezbędne do świadczenia i rozwoju usług w nim oferowanych.
                                        li.mb-3 Dane osobowe zbierane za pośrednictwem Serwisu są przetwarzane zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych, dalej RODO) oraz ustawą o ochronie danych osobowych z dnia 10 maja 2018 r.

                            // II. Administrator danych
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-5
                                    h2.fw-bolder.mb-4 II. Administrator danych
                                    p Administratorem danych osobowych zbieranych poprzez Serwis jest Ali Bińkowska, adres poczty elektronicznej: kontakt@alibinkowska.com (dalej: Administrator).

                            // III. Cel zbierania danych osobowych
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-5
                                    h2.fw-bolder.mb-4 III. Cel zbierania danych osobowych
                                    ol
                                        li.mb-3
                                            | Dane osobowe wykorzystywane są w celu:
                                            ul.mt-2
                                                li realizacji umowy dotyczącej usług i e-usług,
                                                li komunikacji z Użytkownikiem poprzez formularz kontaktowy,
                                                li udzielenia odpowiedzi na zapytania przesłane przez formularz kontaktowy,
                                                li promocji oferty Administratora,
                                                li marketingu, remarketingu, afiliacji,
                                                li personalizacji Serwisu dla Użytkowników,
                                                li działań analitycznych i statystycznych,
                                                li windykacji należności,
                                                li ustalenia i dochodzenia roszczeń albo obrony przed nimi.
                                        li.mb-3 Dane zbierane przez formularz kontaktowy obejmują: imię, adres e-mail, numer telefonu (opcjonalnie) oraz treść wiadomości. Dane te są przetwarzane wyłącznie w celu udzielenia odpowiedzi na zapytanie oraz ewentualnej dalszej komunikacji z Użytkownikiem.
                                        li.mb-3
                                            | Podstawą prawną przetwarzania danych osobowych jest:
                                            ul.mt-2
                                                li art. 6 ust. 1 lit. b) RODO (wykonanie umowy) - w przypadku realizacji usług,
                                                li art. 6 ust. 1 lit. f) RODO (prawnie uzasadniony interes) - w przypadku komunikacji przez formularz kontaktowy, gdzie administratorem jest uzasadniony interes w udzieleniu odpowiedzi na zapytanie,
                                                li art. 6 ust. 1 lit. a) RODO (zgoda) - w przypadku działań marketingowych wymagających zgody.
                                        li.mb-3 Podanie danych jest dobrowolne, ale niezbędne do zawarcia umowy albo skorzystania z innych funkcjonalności Serwisu, w tym do otrzymania odpowiedzi na zapytanie przesłane przez formularz kontaktowy.

                            // IV. Rodzaj przetwarzanych danych osobowych
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-5
                                    h2.fw-bolder.mb-4 IV. Rodzaj przetwarzanych danych osobowych
                                    p Administrator może przetwarzać dane osobowe Użytkownika: imię i nazwisko, adres e-mail, numer telefonu (opcjonalnie), treść wiadomości przesłanej przez formularz kontaktowy, adres zamieszkania (w przypadku zawierania umów), NIP (w przypadku działalności gospodarczej).

                            // V. Okres przetwarzania danych osobowych
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-5
                                    h2.fw-bolder.mb-4 V. Okres przetwarzania danych osobowych
                                    p.mb-3 Dane osobowe Użytkowników będą przetwarzane przez okres:
                                    ul
                                        li gdy podstawą przetwarzania danych jest wykonanie umowy – do momentu przedawnienia roszczeń po jej wykonaniu,
                                        li gdy podstawą przetwarzania danych jest zgoda – do momentu jej odwołania, a po odwołaniu zgody do przedawnienia roszczeń,
                                        li w przypadku danych z formularza kontaktowego – przez okres niezbędny do udzielenia odpowiedzi oraz przez okres przedawnienia ewentualnych roszczeń.
                                    p.mt-3 W obu przypadkach termin przedawnienia wynosi 6 lat, a dla roszczeń o świadczenia okresowe i roszczeń dotyczących prowadzenia działalności gospodarczej – 3 lata (jeśli przepis szczególny nie stanowi inaczej).

                            // VI. Udostępnianie danych osobowych
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-5
                                    h2.fw-bolder.mb-4 VI. Udostępnianie danych osobowych
                                    ol
                                        li.mb-3 Dane osobowe Użytkowników mogą być przekazywane: podmiotom powiązanym z Administratorem, jego podwykonawcom, podmiotom współpracującym z Administratorem np. firmom obsługującym e-płatności, firmom świadczącym usługi kurierskie/pocztowe, firmom hostingowym, kancelariom prawnym.
                                        li.mb-3 Dane osobowe Użytkowników nie będą przekazywane poza teren Europejskiego Obszaru Gospodarczego (EOG).

                            // VII. Prawa Użytkowników
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-5
                                    h2.fw-bolder.mb-4 VII. Prawa Użytkowników
                                    ol
                                        li.mb-3 Użytkownik Serwisu ma prawo do: dostępu do treści swoich danych osobowych, ich sprostowania, usunięcia, ograniczenia przetwarzania, przenoszenia, wniesienia sprzeciwu wobec przetwarzania, cofnięcia zgody w każdej chwili (co nie ma wpływu na zgodność z prawem przetwarzania dokonanego w oparciu o zgodę przed jej cofnięciem).
                                        li.mb-3 Zgłoszenie o wystąpieniu przez Użytkownika z uprawnieniem wynikającym z wymienionych praw należy przesyłać na adres kontakt@alibinkowska.com.
                                        li.mb-3 Administrator spełnia lub odmawia spełnienia żądania niezwłocznie – maksymalnie w ciągu miesiąca od jego otrzymania.
                                        li.mb-3 Użytkownik ma prawo złożyć skargę do Prezesa Urzędu Ochrony Danych Osobowych, jeśli uzna, że przetwarzanie narusza jego prawa i wolności (RODO).

                            // VIII. Pliki cookies
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-5
                                    h2.fw-bolder.mb-4 VIII. Pliki cookies
                                    ol
                                        li.mb-3 Serwis zbiera informacje za pomocą plików cookies – sesyjnych, stałych i podmiotów zewnętrznych.
                                        li.mb-3 Zbieranie plików cookies wspiera poprawne świadczenie usług w Serwisie i służy celom statystycznym.
                                        li.mb-3 Użytkownik może określić zakres dostępu plików cookies do swojego urządzenia w ustawieniach przeglądarki.

                            // IX. Zautomatyzowane podejmowanie decyzji i profilowanie
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-5
                                    h2.fw-bolder.mb-4 IX. Zautomatyzowane podejmowanie decyzji i profilowanie
                                    ol
                                        li.mb-3 Dane Użytkowników nie mogą być przetwarzane w zautomatyzowany sposób tak, że na skutek tego mogłyby zapaść wobec nich jakiekolwiek decyzje.
                                        li.mb-3 Dane Użytkowników mogą być profilowane celem dostosowania treści i personalizacji oferty po wyrażeniu przez nich zgody.

                            // X. Postanowienia końcowe
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-5
                                    h2.fw-bolder.mb-4 X. Postanowienia końcowe
                                    ol
                                        li.mb-3 Administrator ma prawo do wprowadzenia zmian w Polityce prywatności, przy czym prawa Użytkowników nie zostaną ograniczone.
                                        li.mb-3 Informacja o wprowadzonych zmianach pojawi się w formie komunikatu dostępnego w Serwisie.
                                        li.mb-3 W sprawach nieuregulowanych w niniejszej Polityce prywatności obowiązują przepisy RODO i przepisy prawa polskiego.

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
