// Variables

// Override Bootstrap Colors
$blue: #240046;
$pink: #FF9E00;

// Redefine Bootstrap State Colors
$primary: $blue;
$secondary: $pink;

// Bootstrap Variable Functions
$enable-negative-margins: true;

// Override Bootstrap Typography Variables
$font-family-sans-serif: 'Plus Jakarta Sans';
$font-weight-light: 200;

// Custom Border Variables
$border-radius-xl: 1rem;