// Import Variables
@import "variables";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import Global Theme Styles
@import "global";
@import "utilities";

// Import Custom Component Styles
@import "components/feature";
@import "components/profile";

// Added by myself
@import 'components/services';
@import 'components/language-switcher';